.toggleBtn {
    position: fixed;
    top: 20px;
    right: 40px;
    width: 50px;
    cursor: pointer;
}

.light {
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(243, 226, 149);
    padding: 10px;
    border-radius: 20px;
    margin-top: 40px;
}

.light p {
    font-size: 20px;
    color: rgb(231, 91, 26);
}

.dark {
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(4, 13, 143);
    padding: 10px;
    border-radius: 20px;
    margin-top: 40px;
}

.pict {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.dark p {
    font-size: 20px;
    color: rgb(234, 240, 255);
}
